<h1 class="text-3xl font-bold">Analytics</h1>

<!-- date range picker -->
<div class="flex gap-2 mt-10">
  <span class="mt-5">Filter by:</span>

  <app-custom-date-picker
    (dateChange)="handleDateChange($event)"
  ></app-custom-date-picker>
</div>

<!-- <p class="mt-2">
  {{ rangeValues | json }}
</p> -->

<p
  [ngClass]="rangeValues.start ? 'block' : 'hidden'"
  class="mt-2 text-sm bg-gray-200 w-fit py-1 px-4 rounded-full"
>
  Date range:
  <span class="font-semibold">
    {{ rangeValues.start | date }}
  </span>

  to

  <span class="font-semibold">
    {{ rangeValues.end | date }}
  </span>
</p>

<div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-10">
  <div class="border p-20">Graph 1</div>
  <div class="border p-20">Graph 2</div>
  <div class="border p-20">Graph 3</div>
  <div class="border p-20">Graph 4</div>
</div>
