<app-page-header title="Analytics" />

<ng-container *ngIf="data$ | async as data">
  <app-custom-date-picker *ngIf="data.allChartTypesForViewMode.length > 0" />

  <main class="mt-10">
    <app-loader [status]="data.status" />

    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-10"
      *ngIf="data.allChartTypesForViewMode && data.status === 'success'"
    >
      <app-graph-display
        *ngFor="
          let chartTypesForViewMode of data.allChartTypesForViewMode;
          trackBy: trackByFn
        "
        [data]="chartTypesForViewMode"
      />
    </div>

    <app-empty
      *ngIf="
        data.status === 'success' && data.allChartTypesForViewMode.length === 0
      "
      title="No data available"
    />
  </main>
</ng-container>
