<mat-form-field>
  <mat-label>Date range</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start date" />
    <input matEndDate formControlName="end" placeholder="End date" />
  </mat-date-range-input>

  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<button class="ml-4" mat-flat-button color="primary" (click)="onApply()">
  Apply
</button>

<!-- <p>Selected range: {{ range.value | json }}</p> -->
