<h2 mat-dialog-title>New chart</h2>

<mat-dialog-content class="mat-typography md:w-[450px]">
  <app-form-input #chartFormComponent />
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    data-test-id="add-chart-button"
    mat-flat-button
    color="primary"
    cdkFocusInitial
    (click)="onAddChart()"
    [disabled]="
      status === 'loading' || isButtonDisabled(chartFormComponent.chartForm)
    "
  >
    Add chart
  </button>
</mat-dialog-actions>
