<app-page-header title="Settings">
  <div class="my-auto ml-auto">
    <app-new-chart />
  </div>
</app-page-header>

<ng-container *ngIf="data$ | async as data">
  <app-loader
    *ngIf="data.allChartTypesStatus"
    [status]="data.allChartTypesStatus"
  />

  <div
    *ngIf="data.allChartTypes"
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8"
  >
    <app-graph-content
      *ngFor="let chartType of data.allChartTypes"
      [data]="chartType"
    />
  </div>

  <app-empty
    *ngIf="
      data.allChartTypesStatus === 'success' && data.allChartTypes.length === 0
    "
    title="No data available"
  />
</ng-container>
