<mat-sidenav-container
  class="absolute top-0 bottom-0 left-0 right-0 min-h-screen"
>
  <mat-sidenav #sidenav [mode]="'over'" [position]="'end'">
    <app-side-nav-items (closeSidebar)="sidenav.toggle()" />
  </mat-sidenav>

  <mat-sidenav-content>
    <app-navbar (closeSidebar)="sidenav.toggle()" />

    <main class="pt-10 md:pt-14 pb-20 bg-white" id="'main">
      <div class="custom-container">
        <ng-content></ng-content>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
