<nav class="bg-blue-900 h-20 w-full md:px-12 flex items-center">
  <div class="custom-container flex items-center">
    <span
      class="text-white uppercase text-sm font-semibold hidden md:inline-block"
    >
      Angular Analytics
    </span>

    <span class="text-white uppercase text-sm font-semibold md:hidden">
      A-Analytics
    </span>

    <ul class="flex ml-auto md:mx-auto gap-5">
      <li>
        <a
          class="text-sm p-2 rounded-md font-medium text-white"
          [routerLink]="'/view-mode'"
          routerLinkActive="active-link"
        >
          View mode
        </a>
      </li>

      <li>
        <a
          class="text-sm p-2 rounded-md font-medium text-white"
          [routerLink]="'/settings'"
          routerLinkActive="active-link"
        >
          Settings
        </a>
      </li>
    </ul>
  </div>
</nav>

<main class="py-20" id="'main">
  <div class="custom-container">
    <ng-content></ng-content>
  </div>
</main>
