<h2 mat-dialog-title>Update chart</h2>

<mat-dialog-content class="mat-typography md:w-[450px]">
  <app-form-input #chartFormComponent />
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    cdkFocusInitial
    (click)="onUpdateChart()"
    [disabled]="
      status === 'loading' || isButtonDisabled(chartFormComponent.chartForm)
    "
    data-test-id="update-chart-button"
  >
    Update chart
  </button>
</mat-dialog-actions>
