<div class="flex gap-2 items-center">
  <span class="hidden md:inline-block">Filter by:</span>
  <mat-form-field>
    <mat-label>Date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker" #test>
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>

    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <button
    data-test-id="apply-date-filter"
    class="ml-4"
    mat-flat-button
    color="primary"
    (click)="onApply()"
    [disabled]="!range.get('start')?.value || !range.get('end')?.value"
  >
    Apply
  </button>
</div>

<app-dates-display
  [startDate]="range.get('start')?.value"
  [endDate]="range.get('end')?.value"
  [isFiltering]="isFiltering"
  (resetClicked)="resetDateRange()"
/>
